<ul>
    <li class="mb-5">
        <div><span style="color:#000">T:</span> + (406) 555-0120</div>
        <div><span style="color:#000">E:</span> support@example.com</div>
    </li>
    <li style="color:#000">
        2972 Westheimer Rd. Santa Ana,
        Illinois, USA
    </li>
</ul>